<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <div class="main">
        <div class="rate">RATED R</div>
        <div class="rate2">
          <div class="home">
            <a href="/" style="text-decoration:none; color: white;">HOME</a>
          </div>
          <div class="about">
            <a href="/about" style="text-decoration:none; color: white;">ABOUT</a>
          </div>
          <div class="gallery">
            <a href="/gallery" class="galleryunder"  style="text-decoration:none; color: white;">GALLERY</a> 
          </div>
          <div class="contact">
            <a href="/contact" style="text-decoration:none; color: white;">CONTACT</a> 
          </div>
        </div>
        
    </div>
    <div class="heroHeader">
        <p class="heroHeadertext">Music under your Feet</p>
    </div>
    <div class="content">
        <div class="aboutContent" >
            <h1 class="few">A FEW WORDS</h1>
            <div class="abtcont">
              <h3 style="font-size:30px;">ABOUT</h3>
              <h3 style="margin-left: 5px;font-size:30px;color: #AF2727;">RATED R</h3>

              
            </div>
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis adipisci, provident sint distinctio, incidunt repellat, tempore accusantium accusamus numquam ut amet ad natus maxime
            </p>
            <br>            
            <p>
                consequuntur eligendi culpa sequi vitae asperiores. Consequatur vel consectetur, dicta sapiente officiis praesentium soluta culpa excepturi.
            </p>
            <a href="/contact"><button class="button">BOOK NOW</button></a>
            

        </div>
        <div class="aboutImage">
           
        </div>
    </div>
</body>
</html>