<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTACT</title>
  <link rel="stylesheet" href="/stylesheets/contact.css">
</head>

<body>
  <div class="main">
    <div class="rate">RATED R</div>
    <div class="rate2">
      <div class="home">
        <a href="/" style="text-decoration:none; color: white;">HOME</a>
      </div>
      <div class="about">
        <a href="/about" style="text-decoration:none; color: white;">ABOUT</a>
      </div>
      <div class="gallery">
        <a href="/gallery" class="galleryunder" style="text-decoration:none; color: white;">GALLERY</a>
      </div>
      <div class="contact">
        <a href="/contact" style="text-decoration:none; color: white;">CONTACT</a>
      </div>
    </div>

  </div>
  <div class="main2">
    <div class="innermain2">
      <h1 class="h1tag">RESERVATION</h1>
      <h5 class="h5tag">BOOK YOUR TICKET</h5>
      <form action="/submit">
        <input type="text" class="inputag" placeholder="NAME">
        <br>
        <br>
        <input type="text" class="inputag" placeholder="EMAIL">
        <br>
        <br>
        <input type="text" class="inputag" placeholder="NUMBER OF PEOPLE" >
        <br>
        <br>
        <input type="checkbox">
        <span style="margin-left:5px;">I agree that my submitted data is being collected and stored.</span>
        <br>
        <button type="submit" class="bookbutton">BOOK</button>


      </form>
      
      
     



    </div>

  </div>
</body>

</html>