*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
  body {
    
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}
  
.main{
    padding:10px;
    background-color:rgba(0,0,0,1);
    background-blend-mode: overlay;
    height: 50px; 
}
.rate{
    float:left;
    border: 5px solid white;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left,#c832db, #ec3a3a );
    padding: 10px 15px;
}
  
.rate2{
    float:right;
    display:flex;
}
  
.home{
    padding: 10px 15px;
    
}
  
.home:hover{
    letter-spacing: 3px;
    color:purple;
    transition: 0.3s ease-in;
}
  
.about{
    padding: 10px 15px;
}
.about:hover{
    transition: 0.3s ease-in;
    letter-spacing: 3px;
    color:purple;
}
  
.gallery{
    padding: 10px 15px;
  
}
.gallery:hover{
    color:purple;
    transition: 0.3s ease-in;
    letter-spacing: 3px;
    
}
  
    
  
  
.contact{
    padding: 10px 15px;
  
}
.contact:hover{
    transition: 0.3s ease-in;
    letter-spacing: 3px;
    color:purple;
}

.heroHeader{
    height: 60vh;
    width:100%;
    background-image: url('/images/abt.jpg');
    background-color: rgba(0,0,0,0.65);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    

    
}
.heroHeadertext{
    
    position:absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-size:45px;
    font-weight: 400px;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
    
}
.content{
    width: 85%;
    height: 80vh;
    display: flex;
    padding: 5% 7%;
    color: black;
   

}
.few{
    font-weight: 2000px;
    font-size: 50px;
}
.aboutContent{
    font-family: 'Montserrat';
    padding-right:50px;
    width:50%;
    height: 80%;
}
.abtcont{
    display:flex;
    
}
.aboutImage{
    width: 50%;
    height: 80%;
    background-image: url('/images/singer.jpg');
    background-size: 100% 100%;
}

.button{
    background-color: #AF2727;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    border:none;
}